# Application
#/environments/*
#!/environments/local

# yii console command
/yii

# composer vendor dir
/vendor

# composer
composer.phar
composer.lock

# IDE
# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# NPM
/node_modules

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml